node_modules
.next
dist
build
.turbo
.cache
.vercel
.fly

# env
.env
.env.*
!.env.example

# prisma
prisma/migrations/dev_data
prisma/dev.db*
lib/src/generated

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp

# tmp
.tmp
tmp
fixtures/.cache
